/* google font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/* Defenir cores tema Dark */
:root,
:root[data-theme="dark"] {
    
    --color-menu: #6464;
    --bg-body: #000;
    --cor-texto: #fff;
    --bg-header: #000 ;
    --icone-tema: #fff ;
}

/* Defenir cores tema ligth */
:root[data-theme="light"] {
    
    --color-menu: #6464;
    --bg-body: #fff;
    --cor-texto: #000;
    --bg-header: #fff;
    --icone-tema:#000 ;
}


/* reset css */
* {
    /* seletor */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* remove valores não nec */
}

body {
    background: var(--bg-body);
    /* cor de fundo */
    color: var(--cor-texto);
    /* cor de texto */
    font-family: "Rubik", serif;

}
.h1{
    font-size: 60px;
}

i {
    color: var(--icone-tema)/* #ffffff */;
    font-size: 15px;
    /* tamanho do texto */

}

#header {
    /* # é usado para ID(não repetir) / . é usado para class(Pode repetir */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* separa o espaço por igual */
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    z-index: 2;
    background: var(--bg-header);
}

/* li */
.menu {
    display: flex;
    /* torna o elemento um flex container  */
    align-items: center;
    background: var(--bg-header);
    gap: 25px;
    list-style: none;
}

.menu-mobile {
    /* nav */
    width: 100vw;
    /* viewport width */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid #faf3f3;
}



.menu-item {
    /* Lista = Li */
    width: 100%;


}

.menu-link {
    /* span */
    display: flex;
    text-decoration: none;
    color: rgb(194, 194, 168);

}

.menu-texto {
    font-size: 20px;
    text-transform: uppercase;

}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;

}

/* menu texto = span <span>
icone = icone do bootstrap <i> */
.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
    color: #faf3f3;
}

/* nao selecionados */
.menu-icone,
.menu-texto {
    color: #646464;

}

.menu-icone {
    font-size: 23px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}

#toggleTheme {
    font-size: 20;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out .4s;

}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    gap: 25px;
    


}

/*  ATUALIZAÇOES FUTURAS */
#home {
    padding: 32px 16px;
    

}

/* CSS RESPONSIVO */

@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid #faf3f3;
        padding: 16px 80px;
        background: var(--bg-header);
    }

    .nav-mobile {
        display: none;

    }

    .header-nav {
        display: flex;
    }

    #home {
        padding: 128px 96px 64px 96px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

/* 1200px */

@media (min-width: 1200px) {
    #home {
        padding: 160px 96px 32px;
    }
}

/* @media (min-width: 1400px) */