/* google font */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Monomakh&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Defenir cores tema Dark */
:root,
:root[data-theme="dark"] {

    --color-menu: #6464;
    --bg-body: #000;
    --cor-texto: #fff;
    --bg-header: #000;
    --icone-tema: #fff;

    --cor-txt-menu: #fff;
    --txt-menu-hover: rgb(194, 194, 168);

    --cor-border-mobile: #fff;

    --btn: #fff;

    --box-shadow: #fff;

    --seta: #fff;

    --accordion: #726868;
}

/* Defenir cores tema ligth */
:root[data-theme="light"] {

    --color-menu: #6464;
    --bg-body: #fff;
    --cor-texto: #000;
    --bg-header: #fff;
    --icone-tema: #000;

    --cor-txt-menu: #000;
    --txt-menu-hover: rgb(194, 194, 168);

    --cor-border-mobile: #000;

    --btn: #000;

    --box-shadow: #000;


    --seta: #000;

    --accordion: #9b9b9b;
}


/* reset css */
* {
    /* seletor */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* remove valores não nec */
}

html[data-theme='dark'] .logo {
    filter: invert(1);

}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-body);
    /* cor de fundo */
    color: var(--cor-texto);
    /* cor de texto */
    font-family: "Rubik", serif;

}

b {

    font-style: oblique;
}

h1 {
    font-size: 60px;
    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 1px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Monomakh";
    text-align: center;
}

h3 {

    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: left;

}

h4{
    font-size: 20px;
    font-family: "Atkinson Hyperlegible Next";
    font-weight: 300;
    text-align: left;   
}
p, span, li{
    font-size: 18px;
}
p{
    text-align: justify;
}

i {
    color: var(--icone-tema)
        /* #ffffff */
    ;
    font-size: 15px;
    /* tamanho do texto */

}

#header {
    /* # é usado para ID(não repetir) / . é usado para class(Pode repetir */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* separa o espaço por igual */
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    z-index: 2;
    background: var(--bg-header);
}

.header-logo .logo {
    width: 3.5rem;
    height: 3.5rem;
}

/* li */
.menu {
    display: flex;
    /* torna o elemento um flex container  */
    align-items: center;
    gap: 25px;
    list-style: none;
}

.menu-mobile {
    /* nav */
    width: 100vw;
    /* viewport width */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--cor-border-mobile);
    background-color: var(--bg-body);
}



.menu-item {
    /* Lista = Li */
    width: 100%;


}

.menu-link {
    /* span */
    display: flex;
    text-decoration: none;
    color: rgb(194, 194, 168);
    gap: 5px;
    align-items: center;


}

.menu-texto {
    font-size: 20px;
    text-transform: uppercase;

}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;

}

/* menu texto = span <span>
icone = icone do bootstrap <i> */
.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
    color: var(--txt-menu-hover);
}

/* nao selecionados */
.menu-icone,
.menu-texto {
    color: var(--cor-txt-menu);

}

.menu-icone {
    font-size: 23px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}

#toggleTheme {
    font-size: 20;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out .4s;

}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    gap: 25px;



}

/*  ATUALIZAÇOES FUTURAS */
#home,
.projetos,
.sobre,
.contato {
    padding: 32px 16px;


}

/* carousel */

.projetos h2{
    margin-top: 200px;

}

.carousel{
    width: 80%;
    max-width: 70vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    margin: 20x auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides{
    display: flex;
    width: 300%;
    transition: transform 0.5 ease ease-in-out;
}

.slide{
    width: 100%;
}

.slide img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
}

/* Oculta os radio buttons */
.carousel input { 
    display: none; 
}

/* Muda o slide com os radio buttons */
#slide1:checked ~ .slides { transform: translateX(0); }
#slide2:checked ~ .slides { transform: translateX(-33.33%); }
#slide3:checked ~ .slides { transform: translateX(-66.66%); }

/* Botões de navegação */
.navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.navigation label {
    width: 12px;
    height: 12px;
    background: var(--primary-color, #fff);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
}

.navigation label:hover, 
#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"]  {
    background: orange;
    opacity: 1;
}


/* Fim CSS Carousel */



/* projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-transform: uppercase;
}

.projeto-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 50px var(--box-shadow);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

}

/* titulo h3 */
.card-title {
    font-family: "Atkinson Hyperlegible Next";
    ;
    font-size: 25px;
    font-weight: 600;

}

.card-description {
    font-family: "Atkinson Hyperlegible Next";
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: lighter;

}

.card-list {
    list-style: none;
    font-family: "Atkinson Hyperlegible Next";
    margin-left: 15px;


}

.iten-seta {
    color: var(--seta);
    font-size: 14px;
}

/* li */
.card-item {
    margin-left: 18px;
    margin-bottom: 5px;
}

/* sobre */
.sobre {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sobre-content1,
.sobre-content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.sobre-perfil {
    width: 100%;
    pointer-events: none;
    border-radius: 50%;
    border: 2px solid var(--btn);
    object-fit: cover;
    object-position: center;

}

.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.sobre-skills,
.sobre-icones {
    display: flex;
    align-items: center;
    gap: 20px;

}

.sobre-skills i,
.sobre-icones i {
    font-size: 20px;
    color: var(--btn);
}

.sobre-content2 .col1,
.sobre-content2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 32px;
}

.sobre-content2 .col1 .row1 .sobre-content2 .col2 .row2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





/* btn */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    color: var(--btn);

}

.btn-primary {
    border: 1px solid var(--btn);
}

.btn span {
    color: var(--btn);
    font-size: 20px;
}

.btn i {
    font-size: 18px;
}

.btn:hover {
    transform: scale(1.02);
    transition: ease-in-out .4s;
}

.btn:hover span {
    color: var(--txt-menu-hover);
}

a {
    text-decoration: none;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* accortdions  */

.accordion-header {
    width: 100%;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--cor-border-mobile);
    background: transparent;
    text-align: left;
    cursor: pointer;
    transition: ease-in-out .3s;

}

.accordion-header span {
    color: var(--cor-texto);
    text-transform: uppercase;

}

.accordion-body {
    display: none;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--cor-border-mobile);
}

.accordion-item.active .accordion-header {
    background: var(--accordion);
}

.accordion-item.active .accordion-body {
    display: flex;
}

.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

.accordion-header.start{
    border-radius: 5px 5px 5px 5px;
}

.accordion-header.end,
.accordion-item.active .accordion-body.end {
    border-radius: 5px 5px 5px 5px;
}
/* Contato */

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-top: 1px solid var(--cor-borda);
    border-bottom: 1px solid var(--cor-borda);
}

.contato p {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    margin-top: 50px;
}

.contato .email {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto", serif;
}
/* p */

.txtc{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    

}

/* Forms */
.form-contato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #9a9a9c;
    border-radius: 8px;
    box-shadow: 2px 4px 10px var(--box-shadow);
}

.form-contato label {
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--cor-border-mobile);
    border-radius: 3px;
    color: var(--cor-texto);
    background: var(--bg-body);
    font-size: 16px;
    outline: none;
    transform: 0.3s ease-in-out;
}

.form-contato input:focus,
.form-contato textarea:focus{
    border-color: var(--cor-texto);
    box-shadow: 0 0 5px;
    
}




/* Roda Pé = footer */

footer {
    margin-bottom: 60px;
    text-align: center;
}

footer p {
    font-size: 16px;
    text-align: center;
    padding: 40px;
    font-family: "Roboto", serif;
}

footer a {
    color: var(--cor-txt-menu);
}

footer i:hover,
footer a:hover {
    color: #0477db;
}

/* CSS RESPONSIVO */

@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid #faf3f3;
        padding: 16px 80px;
        background: var(--bg-header);
    }

    .nav-mobile {
        display: none;

    }

    .header-nav {
        display: flex;
    }

    .header-nav,
    .header-toggle {
        min-width: 30%;
    }

    #home,
    .projetos,
    .sobre {
        padding: 128px 96px 64px 96px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

/* 992px */
@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }

    .projeto-card.card-reverse {

        flex-direction: row-reverse;
        justify-content: space-between;

    }

    .card-img {
        width: 35%;
    }

    .sobre{

        gap: 10px;
    }

    .sobre-descricao,
    h2{
        text-align: left;
    }




    .sobre-content1,
    .sobre-content2 {
        display: grid;
        grid-template-columns: 35% 50%;
        justify-content: flex-start;
        gap: 64px;

    }
}

/* 1200px */

@media (min-width: 1200px) {
    #home {
        padding: 160px 96px 32px;
    }

    h2{
        font-size: 65px;
    }
    h3{
        font-size: 45px;
    }
     
    p, span, li{
        font-size: 20px;
    }

    /*  .descricao-button .btn{
        width: auto;
    } */
}
/* @media (min-width: 1400px) */
@media (min-width: 1400px){
    h1{
        font-size: 90px;
    }

    h2{
        font-size: 70px;
    }
    h3{
        font-size: 50px;
    }
    .projetos,
    .sobre{
        padding: 160px 240px 64px;
    }
}


